@import "~antd/dist/antd.css";

.app-container {
  background: linear-gradient(to bottom right, #c94e15 0%, #063e88 100%);
}

.header-container {
  margin: 20px;
  padding: 10px;
}

.header-container h1 {
  background-color: rgba(255, 255, 255, 70%);
  padding: 10px;
}

.pagination-container {
  margin: 20px;
  padding: 10px;
}
